.left-form{
    -fx-background-color: linear-gradient(to bottom right, #4158D0, #C850C0, #FFCC70 95%);
    -fx-border-color: #000000;
    -fx-border-width: .4px 0px .4px .4px;
    }

.right-bg{
    -fx-background-color: #fff;
    -fx-border-color: #000000;
    -fx-border-width: .4px .4px .4px 0px;
    }

.textfield:focused{
    -fx-background-color: linear-gradient(to bottom right, #efefef, #eee);
    -fx-background-radius: 5px;
    -fx-border-color: #8f8f8f;
    -fx-border-width: .8px;
    -fx-border-radius: 5px;
    }

.password-field:focused{
    -fx-background-color: linear-gradient(to bottom right, #efefef, #eee);
    -fx-border-color: #8f8f8f;
    -fx-border-width: .8px;
    -fx-border-radius: 5px;
    }

@font-face {
    font-family: 'MarlinSoft';
    src: url('src/main/resources/MarlinSoftBasic-Regular.otf');
    }

.label{
    -fx-font-family: "MarlinSoft";
    }

.login_button{
    -fx-background-color: linear-gradient(to right, #4158D0, #C850C0 95%);
    -fx-background-radius: 5px;
    -fx-border-color: #000000;
    -fx-border-width: .4px;
    -fx-border-radius: 5px;
    -fx-text-fill: #fff;
    -fx-font-size: 20px;
    }

.login_button:hover{
    -fx-background-color: linear-gradient(to right, #6174d1, #e664df 95%);
    }

.button_exit {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-border-radius: 5px;
    -fx-border-color: #8f8f8f;
    }

.button_exit:hover {
    -fx-background-color: #ff0000;
    }